{% extends "::base.html.twig" %}

{% block title %}Lista de carros{% endblock %}

{% block body %}
	<h1>Lista de carros</h1>
	<table>
		<tr>
			<td>MARCA</td>
			<td>MODELO</td>
		</tr>
		{% for key,car in cars %}
			<tr></tr>
			<tr>
				<td>
					{{ car.fabricante|upper }}
				</td>
				<td>
					{{ car.modelo|upper }}
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}