{% extends "::base.html.twig" %}

{% block title %}Lista de carros{% endblock %}

{% block body %}
	<h1>Lista de carros</h1>
	<ul>
		{% for carro in carros %}
			<li>Carro: ({{ carro.modelo }}) - Fabricante: ({{ carro.fabricante.nome }})</li>
		{% endfor %}

	</ul>
{% endblock %}