<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Sistema carro</title>
    </head>
    <body>
        O carro {{ carro.marca }} {{ carro.modelo }} Correu
    </body>
</html>