<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Sistema carro</title>
    </head>
    <body>
        O carro {{ carro.marca|upper }} {{ carro.modelo|upper }} Correu!
    </body>
</html>